{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<div class="page-container">
  <div class="page-content">
  <h1>Tapestry Offices</h1>
<div class="container-fluid">
    {{!-- id="total votes" --}}
    <table class="table table-hover text-centered table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/London" target = "_blank">London</td>
              <td>London is a beautiful area with hard working individuals and fun times!</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Taipei" target = "_blank"> Taipei</td>
              <td> Taipei is a place of great beauty and hard workers. The work culture focuses on many Chinese cultural ideals and expect respect, punctuality and hardwork.</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Singapore" target = "_blank"> Singapore</td>
              <td> Singapore, a cosmopolitan melting pot of cultures where east meets west, has a work culture made up of a unique mix of Asian and Western cultural influences. These cultural themes bring about unwritten cultural rules and regulations that govern the way Singaporeans act in a workplace</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Hong_Kong" target = "_blank"> Hong Kong</td>
              <td> Hong Kong is a culture fueled capital full of some of the hardest working individuals in the world!</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Ho_Chi_Minh_City" target = "_blank"> Ho Chi Minh City </td>
              <td> Ho Chi Minh City is a hard working city with a focus on community. While workers do work very hard, the community as a whole work together to avoid unneeded work, and avoid pushing themselves too far. </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Dongguan" target = "_blank"> Dongguan </td>
              <td> Taipei is spelled really cool, and on top of that it is one of the company's top offices </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Tokyo" target = "_blank"> Tokyo </td>
              <td> Taipei is spelled really cool, and on top of that it is one of the company's top offices </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Seoul" target = "_blank"> Seoul </td>
              <td> Taipei is spelled really cool, and on top of that it is one of the company's top offices </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Hudson_Yards" target = "_blank"> Hudson Yards </td>
              <td> Taipei is spelled really cool, and on top of that it is one of the company's top offices </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
{{> ConstScripts}}
{{> footerP}}
