{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<h1>Singapore</h1>
<br></br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/watch?v=RsCKj8w4CkQ" allowfullscreen></iframe>
    </div>
    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/watch?v=dnxG_VQCFGk" allowfullscreen></iframe>
    </div>
    </div>
    <div class="col-sm">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/watch?v=v6XSM8Ktmjg" allowfullscreen></iframe>
    </div>
    </div>
  </div>
</div>
{{> ConstScripts}}
{{>footerP}}
