{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<div class="page-container">
  <div class="page-content">
  <h1>Tapestry Offices</h1>
<div class="container-fluid">
    {{!-- id="total votes" --}}
    <table class="table table-hover text-centered table-striped">
        <thead>
            <tr>
                <th>Country</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/London" target = "_blank">London</td>
              <td>London is a beautiful area with hard working individuals and fun times!</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Taipei" target = "_blank"> Taipei</td>
              <td> Taipei is a place of great beauty and hard workers. The work culture focuses on many Chinese cultural ideals and expect respect, punctuality and hardwork.</td>
            </tr>
            <tr>
              <td><a href = "/info/countries/singapore" target = "_blank"> Singapore</td>
              <td> Singapore, a cosmopolitan melting pot of cultures where east meets west, has a work culture made up of a unique mix of Asian and Western cultural influences. These cultural themes bring about unwritten cultural rules and regulations that govern the way Singaporeans act in a workplace</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Hong_Kong" target = "_blank"> Hong Kong</td>
              <td> Hong Kong is a culture fueled capital full of some of the hardest working individuals in the world!</td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Ho_Chi_Minh_City" target = "_blank"> Ho Chi Minh City </td>
              <td> Ho Chi Minh City is a hard working city with a focus on community. While workers do work very hard, the community as a whole work together to avoid unneeded work, and avoid pushing themselves too far. </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Dongguan" target = "_blank"> Dongguan </td>
              <td> One of China's most profitable cities and an industrial capital. Over the past 30 years the productivity of Dongguan has almost tripled. </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Tokyo" target = "_blank"> Tokyo </td>
              <td> One of the most heavily cultured cities in the world Tokyo is a place of stunning beauty and a very hard working mindset,  </td>
            </tr>
            <tr>
              <td><a href = "https://en.wikipedia.org/wiki/Seoul" target = "_blank"> Seoul </td>
              <td> A powerhouse of productivity, Seoul is as hard working as it is beautiful. Whether its the architecture, or the urban jungle cities, the culture is prominent in all aspects. </td>
            </tr>
            <tr>
              <td><a href = "/info/countries/HudsonYards"> Hudson Yards </td>
              <td>The most up and coming area in NYC, Hudson Yards is the perfect mixing pot of cultures colliding. It has a great location allowing accessability for all employees commuting, and on top of that surrounded by great eateries and restaurants. </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
{{> ConstScripts}}
{{> footerP}}
