{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<h1>Team 3's goals for this Case Study</h1>
<br></br>
<ul class = "list">
  <li>To gain exposure to different aspects of the business</li>
  <li>Experience collaborating with and learning from one another</li>
  <li>To have the opportunity to showcase our skills and take creative freedoms in a context beyond day-to-day responsibilities</li>
  <li>To be given a chance to enact actual change to the corporate landscape</li>
  <li>Win the Case Study!</li>
</ul>
{{> ConstScripts}}
{{>footerP}}
