{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<div class = "format">
<h1><u>Hong Kong Employee Spotlight</u></h1>
<a><img src="/public/me2.jpg"></img></a>
<h2>Brandon Soong</h2>
<h3>Intern, IT Information Security, Tapestry</h3>
<h3>New York</h3>
<p>Brandon first started coding in Highschool, however college helped open his eyes to the STEM world and all of the other tech fields. In his free time he enjoys eating Dim Sum, watching Netflix, and video games.</p>
<iframe src ="https://www.brainshark.com/coach/vu?pi=zCWztx78Mz0z0&dm=5&nodesktopflash=1" width = "75%" height = "600px"><iframe>
</div>
<h1>See More Hudson Yards Employee Spotlights!</h1>
{{> footerP}}
