{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<div class = "format">
<h1><u>Hudson Yard Employee Spotlight</u></h1>
<a><img src="/public/personperson.PNG"></img></a>
<h2>David Lipford</h2>
<h3>Manager, Creative Services, Stuart Weitzman</h3>
<h3>New York</h3>
<p>David first created vision boards on his walls when he was young. Now he professionally creates vision boards and works on Stuart Weitzman's creative vision. David also gives back at work as a leader on the Pride Committee, sharing his experience and background with others in the LGBTQ+ community.</p>
<iframe src ="https://www.brainshark.com/coach/vu?pi=zCWztx78Mz0z0&dm=5&nodesktopflash=1" width = "75%" height = "600px"><iframe>
</div>
<h1>See More Hudson Yards Employee Spotlights!</h1>
{{> footerP}}
