{{> NavigationBar}}
<link rel = "stylesheet" href = "/public/country.css">
<div class = "format2">
<!-- <script id="134057_c_504248" width="1024" height="720" src="//player.dacast.com/js/player.js"  class="dacast-video" allowfullscreen></script> -->
</div>
<style>
.format2 {
  display:flex;
  position:relative;
  margin:0;
 justify-content: center;
}

</style>
<div class = "format3">
<script id="cid0020000225056509312" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"t-talk","arch":"js","styles":{"a":"ffcc00","b":98,"c":"000000","d":"000000","f":98,"i":98,"k":"ffcc00","l":"ffcc00","m":"ffcc00","o":98,"p":"10","q":"ffcc00","r":98,"pos":"br","cv":1,"cvfnt":"'Helvetica Neue', Helvetica, Arial, sans-serif, sans-serif","cvfntsz":"15px","cvbg":"ffcc00","cvbga":98,"cvw":90,"cvh":40}}</script></div>

<!-- <style>
.format3 {
  display:flex;
  position:relative;
  margin:0;
}
</style> -->
