h1 {
  text-align: center;
}
body {
  background-color: #ffdd00;
}
table {
  background-color: white;
  border-style: solid;
  margin-left: 10px;
  border-width: 5px;
  border-color: black;
}
footer {
  padding-top: 10px;
  padding-bottom: 0px;
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
}

.list {
  font-size: 200%;
}
